html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #033d5e;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

#starrynight {
	background: -webkit-linear-gradient(#00111e 30%, #033d5e);
	background: -moz-linear-gradient(#00111e 30%, #033d5e);
	background: -o-linear-gradient(#00111e 30%, #033d5e);
	background: linear-gradient(#00111e 30%, #033d5e);
	overflow: hidden; 
}

#canvas-wrap { position:relative } /* Make this a positioned parent */
#overlay     { position:absolute; top:100px; left:100px; }
